@font-face {
    font-family: 'SuiseeBPIntl';
    src: url('../fonts/SuisseBPIntl-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'SuiseeBPIntl';
}

body {
    /* overflow: hidden; */
    background: black;
}

button {
    width: 12rem;
    height: 4rem;
}

input {
    width: 80vmin;
    height: 10vmin;
}

#controls {
    /* display: flex; */
    display: none;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

video,
canvas,
#preview {
    position: fixed;
    top: 0;
    left: 0;
    /* margin-top: 2rem; */
}

canvas {
    z-index: 2;
}

input,
label {
    z-index: 3;
    position: relative;
}

/* button {
    z-index: 4;
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
} */

input[type='range'] {
    -webkit-appearance: none;
    margin-right: 4rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 white;
    transition: background 0.3s ease-in-out;
}

label {
    /* font-size: 2rem; */
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

#color-sample {
    height: 8rem;
    width: 8rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0.5rem;
}

#content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

button {
    width: 18rem;
    height: 5rem;
    border-radius: 0.5rem;
}

#wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#ui {
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    margin: 1rem;
}

#preview {
    display: none;
}

button,
#spinner {
    font-size: 2rem;
}


#spinner {
    /* display: none; */
    color: white;
    align-self: center;
    justify-self: center;
    z-index: 20000;
    font-size: 3rem;
}

#gallery-wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
}

#gallery-wrapper img {
    max-width: 40rem;
}

@keyframes glow {
    0% {
      box-shadow: 0 0 1rem 1rem rgba(255, 168, 0, .6);
    }
    100% {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);
    }
  }

.pic {
    /* width: 35vmin; */
    position: fixed;
    /* height: 42vmin; */
    background-color: white;
    margin: 1rem;
    /* border: 1px solid black; */
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.7);

    /* transition: all 2s; */
    animation-name: glow;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

.pic img {
    /* max-width: 10rem; */
    max-height: 25rem;
    /* height: auto; */
    margin: 1rem;
    /* margin-bottom: 6rem; */
}

#previous,
#next {
    font-size: 3rem;
}
