* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: pink; */
    width: 100vh;
    height: 100vw;
    overflow: hidden;
}

button {
    width: 12rem;
    height: 4rem;
}

input {
    width: 12rem;
    height: 2rem;
}

#controls {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

video,
canvas {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100vw;
    height: 100vh; */
    border: 1px solid red;
    object-fit: cover;
}

video {
    /* display: none; */
    /* object-fit: contain; */
    /* width: 1648px;  */
    /* height: 3168px; */
    /* object-fit: fill; */
    /* display: none; */
}

canvas {
    z-index: 2;
    /* background: transparent; */
    /* opacity: 50%; */
}

img {
    z-index: 300;
    position: absolute;
}

input, label {
    z-index: 600;
    position: relative;
}

button {
    z-index: 500;
}