body {
    /* background-color: pink; */
    width: 100vh;
    height: 100vw;
    overflow: hidden;
}

button {
    width: 12rem;
    height: 4rem;
}

input {
    width: 12rem;
    height: 2rem;
}

#controls {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: 1rem;
}
