* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: pink; */
    width: 100vh;
    height: 100vw;
    overflow: hidden;
    background: black;
}

button {
    width: 12rem;
    height: 4rem;
}

input {
    width: 40vmin;
    height: 10vmin;
}

#controls {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

video,
canvas {
    position: absolute;
    top: 0;
    left: 0;
}

canvas {
    z-index: 2;
}

img {
    z-index: 300;
    position: absolute;
    display: none;
}

input,
label {
    z-index: 600;
    position: relative;
}

button {
    z-index: 500;
    font-size: 2rem;
}

input[type='range'] {
    -webkit-appearance: none;
    margin-right: 4rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    background: navy;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 white;
    transition: background 0.3s ease-in-out;
}

label {
    /* font-size: 2rem; */
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}
