@font-face {
    font-family: 'SuiseeBPIntl';
    src: url('../fonts/SuisseBPIntl-Regular.otf');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'SuiseeBPIntl';
}

body {
    overflow: hidden;
    background: black;
}

button {
    width: 12rem;
    height: 4rem;
}

input {
    width: 40vmin;
    height: 10vmin;
}

#controls {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    position: absolute;
    top: 1rem;
    left: 1rem;
}

video,
canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 2rem;
}

canvas {
    z-index: 2;
}

input,
label {
    z-index: 3;
    position: relative;
}

button {
    z-index: 4;
    font-size: 2rem;
    position: absolute;
    bottom: 2rem;
    left: 2rem;
}

input[type='range'] {
    -webkit-appearance: none;
    margin-right: 4rem;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-size: 70% 100%;
    background-repeat: no-repeat;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8vmin;
    width: 8vmin;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 white;
    transition: background 0.3s ease-in-out;
}

label {
    /* font-size: 2rem; */
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
}

#color-sample {
    height: 8rem;
    width: 8rem;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 0.5rem;
}

#redo {
    margin-left: 20rem;
}

#save {
    margin-left: 40rem;
}

#preview-bcg {
    position: absolute;
    z-index: 5;
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: none;
    top: 0;
}

#preview {
    display: none;
    position: absolute;
    top: 1rem;
    /* left: 2rem; */
    transform: scale(0.9);
    border: 2px solid black;
    border-radius: 0.5rem;
    z-index: 6;
}

#spinner {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 7;
    font-size: 1.5rem;
}

#ui {
    position: absolute;
    bottom: 1rem;
    margin-left: 1rem;
    z-index: 10;
}

button {
    width: 18rem;
    height: 5rem;
    border-radius: 0.5rem;
    z-index: 6;
}
