:root {
    --beige-color: #f1f0e4;
    --dark-color: #222;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--beige-color);
    font-size: 16px;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

#banner {
    width: 100%;
    border-bottom: 1px solid var(--dark-color);
}

img {
    height: auto;
    width: 100%;
}

.row {
    border-bottom: 1px solid var(--dark-color);
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    display: flex;
    justify-content: space-between;
}

.expanded {
    background-color: var(--dark-color);
    color: var(--beige-color);
}

@media (min-width: 600px) {
    li {
        font-size: 1.25rem;
    }
    img {
    }
}

@media (min-width: 960px) {
    li {
        font-size: 1.5rem;
    }
}

.arrow {
    border: solid var(--dark-color);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-right: 0.5rem;
}

.expanded .arrow {
    border: solid var(--beige-color);
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.detail {
    display: flex;
    flex-direction: row;
}

.column {
    width: 50%;
    margin: 1rem;
}

.column p {
    margin-bottom: 1rem;
}

.column img {
    margin-bottom: 1rem;
}
